body {
    background-color: pink;
}

p {
    font-size: 20px;

}
.lewy
{
    width: 50%;
    float: left;
}
.prawy
{
    width: 50%;
    float: right;
}
ul li
{
    display: inline;
    padding: 1em;
}
.stopka
{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;


}
